usn{color:teal;display:block;}
name{color:goldenrod;display:block;}
branch{color:springgreen;display:block;}
yearofjoining{color:tomato;display:block;}
college{color:lime;display:block;}
emailid{color:hotpink;display:block;}
student1,student2,student3{border:3px dotted violet;display:inline-block;}