name{color:teal;display:block;}
airline{color:turquoise;display:block;}
passportnumber{color:violet;display:block;}
visanumber{color:tomato;display:block;}
contactaddress{color:green;display:block;}
pass1,pass2,pass3,pass4,pass5{border:5px dotted black;display:inline-block;}